
.main_section_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login_container {
  height: auto;
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login_container .input-box input{
  margin: 7px 0px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;

} 
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inner_page {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.signin_redirect{
  margin-top: 12px;
  
  text-align: center;
}
.signin_redirect h4 a{
  text-decoration: none;
}