.main_section_login
{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}

.validation-message {
  display: none;
  color: red;
  margin-top: 5px;
}






.login_container {
  background-color: #fff;
  height: auto;
  align-items: center;
  padding: 20px;
  width: 30%;
  border:  2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

 .login_container h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.login_container .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
 
  
}

.login_container .input-box input {
  width: 100%;
  padding: 5px 3px;
  font-size: 16px;
  margin: 7px 0;
  border:  1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none;

  
}

.login_container  .input-box input[type="submit"] {
  width: 100%;
  background: rgb(43, 150, 243);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
}

.login_redirect
{
  
 
  text-align: center;
  width: 100%;
  
}
.login_redirect h4 a{
  text-decoration: none
}
